<h1>id;<%= @task.id%>のタスク詳細</h1>

<p>進捗度:<%=@task.status%>&gt;タスク:<%= @task.content%></p>

<%= link_to "一覧へ戻る",tasks_path%>
<%= link_to "編集する",edit_task_path%>
<%= link_to "削除する",@task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>